.aligneLabel2 {
    -fx-translate-y: 10;
}

.aligneLabel3 {
    -fx-translate-y: 20;
}

.aligneLabel4 {
    -fx-translate-y: 30;
}

.aligneLabel5 {
    -fx-translate-y: 40;
}

.aligneLabel6 {
    -fx-translate-y: 50;
}

.aligneLabel7 {
    -fx-translate-y: 60;
}

